node_modules/
.next/
.env
.env.local
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfplan
*.tfvars.local
nginx/certbot/conf/*
!nginx/certbot/conf/.gitkeep


# Ignore Next.js build output
node_modules/
.next/
out/
.env
.env.local
*.tsbuildinfo
next-env.d.ts
.DS_Store

deploy_key
deploy_key.pub


# Certbot / Let's Encrypt
nginx/certbot/conf/
nginx/certbot/www/

# Docker
docker-compose.override.yml